<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Template</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:fragment="header">
            <h1 th:text="#{template.title}">...</h1>
        </header>
        <footer th:fragment="footer">
            <div>
                <a th:href="@{/(lang=es)}">Español</a> ||
                <a th:href="@{/(lang=en)}">English</a>
                <span>[[#{template.footer}]]</span>
            </div>
        </footer>
    </body>
</html>
