/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/08/2022, 11:09:08 p. m.
    Author     : jpatarroyo
*/
#footerApp{
    background-color: #293133;
}

.card-info-app{
    background-color: #336b86 !important;
}