<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Index</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <div th:if="${people != null and !people.empty}">
                <table class="table" border="1">
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email</th>
                        <th>Teléfono</th>
                    </tr>
                    <tr th:each="person : ${people}">
                        <td th:text="${person.name}"></td>
                        <td th:text="${person.surname}"></td>
                        <td th:text="${person.email}"></td>
                        <td th:text="${person.phone}"></td>
                    </tr>
                </table>
            </div>
            <div th:if="${people == null or people.empty}">
                La lista de personas está vacía.
            </div>
        </div>
    </body>
</html>
