<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Login</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <h1>Login</h1>
        <form method="POST" th:action="@{/login}">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"/>
            <br/>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"/>
            <br/>
            <input type="submit" value="Login"/>
        </form>
    </body>
</html>
